body {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.content {
  padding-top: 20px;
  width: 400px;
  height: 200px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
/* клик */
.wave-container {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background-color: black;
}

.wave {
  position: absolute;
  border-radius: 50%;
  /* Цвет волны */
  background-color: rgba(0, 191, 255, 0.5);
  transform: scale(0);
  animation: wave-animation 0.6s ease-out;
  pointer-events: none;
}

@keyframes wave-animation {
  to {
    transform: scale(1);
    opacity: 0;
  }
}
/* клик кнопка */
.ripple-button {
  position: relative;
  overflow: hidden;
  font-size: 16px;
  background-color: #576f35;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  width: 100px;
  height: 100px;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  /* Color ripple */
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  animation: ripple-animation 0.6s ease-out;
  pointer-events: none;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

/* иконки */
.phone,
.map {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  fill: rgba(251, 251, 251, 0.5);
}

.phone:hover .icon-phone {
  animation: ring 0.7s infinite;
}

.map:hover .icon-location2 {
  animation: bounce 0.8s infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
/* волнв */
.title {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  display: inline-block;
}

.title span {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.title:hover span {
  animation: wave 0.7s ease-in-out infinite;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
/* тень */
.title-sub {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  transition: text-shadow 250ms ease-in;
}

.title-sub:hover {
  text-shadow: red -1px 0, cyan 1px 0;
}
