.product {
  margin-bottom: 20px;
}

.product button {
  margin: 0 10px;
}

#order-summary {
  margin-top: 20px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.form-container {
  margin-top: 30px;
}

body {
  background-color: darkolivegreen;
}
